:root {
  --color-white: #fdfdfd;
}

/* * {} */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  background: no-repeat url(//s.ytimg.com/yt/imgbin/www-refreshbg-vflC3wnbM.png)
    0 0;
  background-color: #ebebeb;
  background-repeat: repeat;
}
